
body{
	background-color: black !important;
	color: white;
}
.container-fluid{
	background-color: black;
	color: white;
}

p, small, h1, h2, a, h3, h4, h5{
	font-family: "karla", sans-serif;
	font-weight: 300;
}


.nav-link {
	color:white !important;
	font-size: large !important;
	text-decoration: none;
	padding: 10px 20px;
	margin: 0 5px;
	position: relative;
	overflow: hidden;
  }
  
  .nav-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	background-color: #ffffff;
	width: 0;
	transition: width 0.3s ease;
  }
  .nav-link:hover{
	color: crimson !important;
  }
  .nav-link:hover::after {
	width: 100%;
	animation: heartbeat116 1.5s infinite;
  }
  
  @keyframes heartbeat116 {
	0%, 100% {
	  width: 100%;
	}
	50% {
	  width: 60%;
	}
  }

.navbar-brand h2{
	color: #DC143C;
	font-family: "Pacifico", cursive;
	font-weight: 400;
	font-style: normal;
}
.icon{
	transition: transform .2s;
}
.icon img:hover{
	transform: scale(1.2) !important;
}

em {
	color: #DC143C;
}

.active{
	color: #DC143C !important;
}
.about{
	font-size: larger;
}
.proj {
	transform:
	  perspective(750px)
	  translate3d(0px, 0px, -250px)
	  rotateX(27deg)
	  scale(0.9, 0.9);
	box-shadow: 0 70px 40px -20px rgba(255, 255, 255, 0.2);
	transition: 0.4s ease-in-out transform;
  
	&:hover {
	  transform: translate3d(0px, 0px, -250px);
	}
  }
  .inner{
	border: 1px solid rgba(255, 255, 255, 0.2)
  }

  ul{
	list-style-type:circle;
  }

  .intro{
	padding-top: 30px;
  }
  .socials{
	padding-top: 300px;
	padding-right: 0;
  }
  b{
	color:#DC143C;
  }

  .wave {
	animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s;        /* Change to speed up or slow down */
	animation-iteration-count: infinite;  /* Never stop waving :) */
	transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
	display: inline-block;
  }
  
  @keyframes wave-animation {
	  0% { transform: rotate( 0.0deg) }
	 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
	 20% { transform: rotate(-8.0deg) }
	 30% { transform: rotate(14.0deg) }
	 40% { transform: rotate(-4.0deg) }
	 50% { transform: rotate(10.0deg) }
	 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
	100% { transform: rotate( 0.0deg) }
  }
  
  